<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
</head>
<body>
  <button><a href="/logout">Sign Out</a></button>
  <button><a href="/wishlist">Wishlist</a></button>

  <p>Account: <%= role %></p>

  <center>
    <h1>List Product</h1>
     
    <% if (errors) { %>
      <h2 style="color: red;"><%= errors %></h2>
    <% } %>
    
    <% if (role === "seller") { %>
      <button><a href="/products/add">Add Product</a></button>
    <% } %>
      <button><a href="/categories">By Category</a></button>
    <table border="1">
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Price</th>
        <th>Last Updated</th>
        <th>Contact</th>
        <th>Address</th>
        <% if (role === "seller") { %>
          <th>Action</th>
        <% } %>
      </tr>
      <% data.forEach((el, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= el.name %></td>
          <td><%= el.Category.name %></td>
          <td><%= el.description %></td>
          <td><%= el.idr %></td>
          <td><%= el.lastUpdate(el.updatedAt) %></td>
          <td><%= el.User.Profile.phone %></td>
          <td><%= el.User.Profile.address %></td>
          <% if (role === "seller") { %>
          <td>
            <button><a href="/products/<%= el.id %>/edit">Edit</a></button>
            <button><a href="/products/<%= el.id %>/delete">Delete</a></button>
          </td>
        <% } %>
        </tr>
      <% }) %>
    </table>
  </center>
  
</body>
</html>